    <%- include("partials/header.ejs") %>
    
    <div class="mnb">
    <h2>Add a book to your database</h2>
    <%if(locals.data){%>
        <p><%= data %></p>
    <%}%>

    <%if(locals.err){%>
        <p><%= err %></p>
    <%}%>
    
    <form class="mnr" action="/submit_book/<%=isbn %>/<%= encodeURIComponent(title) %>/<%= encodeURIComponent(author) %>/<%= encodeURIComponent(cover) %>" method="POST">
        
        <textarea placeholder="review" id="review" name="review" rows="4" cols="50" class="border border-gray-300 p-2 rounded"></textarea>
        
        
        <input placeholder="rating" type="number" id="rating" name="rating" min="1" max="5" class="border border-gray-300 p-2 rounded">
        
        <input class="bq" type="submit" value="Submit Book" >
    </form>
    </div>
    <%- include("partials/footer.ejs") %>