    <%- include("partials/header.ejs") %>
    <div class="sde">
    <h1>Users</h1>
    <%if(locals.data){%> 
        <% for(var i=0;i<data.length;i++){%>
            <div class="rona">
            <a href="/main/<%= data[i].user_id %>">
                    <img class="foo" src="/image/<%= data[i].user_id %>" />
            </a>
            <a href="/main/<%= data[i].user_id %> "> <h2> <%= data[i].user_name %> </h2> </a>
            </div>
    <%}%>  
<%}%>
</div>
    <%- include("partials/footer.ejs") %>